*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --cor-primeiro-Paragrafo: #7158EF;
    --cor-fundo: #ECE9FD;
    --cor-texto: #090039;

    --font-primeiro-Paragrafo:'Epilogue',sans-serif;
}

body{
    font-size: 1.6rem;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--font-primeiro-Paragrafo);
}

.page{
    padding: 6.0rem 2.3rem;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.page p:first-of-type{
    text-transform: uppercase;

    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 3px;
}

.page h1{
    margin: 1.7rem 0 1.5rem;

    font-style: normal;
    font-weight: 800;
    font-size: 4.0rem;
    line-height: 4.8rem;
}

h1 + p{ 
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;

    margin-bottom: 3.2rem;
}

.page a{
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.2rem;

    text-decoration: none;
    color: var(--cor-texto);
}

.page a:hover{
    font-weight: bold;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    list-style: none;

    margin-top: 3.2rem;
}

ul li{
    display: flex;
    align-items: center;
    gap: 3.8rem;
}

ul li h2{
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
}

ul li span{
    font-style: normal;
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 8.0rem;
}

@media (min-width: 700px){

    .page{
        display: flex;
        gap: 11.6rem;
        max-width: 1200px;
        margin: 8.0rem auto;
        
    }
}